<form class="form-group" id="testForm" action="/api/newrecord" method="post" enctype="application/json">
  <label for="urlInput">Add record to db for testing.</label>
  <input type="text" class="form-control" id="urlInput" placeholder="url" value="" name="term"/>
  <button type="submit" class="btn btn-primary" onClick="">Submit</button>
</form>