<!DOCTYPE html>
<html>

  <head>

    <title>Jeremy L. Shepherd | Image Abstraction Layer API</title>
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </head>
  <body>
        <div class="container">
            <h1 class="header">
                API Basejump: Image Abstraction Layer API
            </h1>
            <blockquote>
                <h3>User Stories:</h3>
                <ul>
                  <li>
                     <p>I can get the image URLs, alt text and page urls for a set of images relating to a given search string.</p>
                     <code>https://imageabstract-jeremylshepherd.herokuapp.com/api/imagesearch/archer%20column%20a</code>
                  </li>
                  <li>
                     <p>I can paginate through the responses by adding a ?offset=2 parameter to the URL.</p>
                     <code>https://imageabstract-jeremylshepherd.herokuapp.com/api/imagesearch/archer%20column%20a?offset=5</code>
                  </li>
                  <li>
                      <p>I can get a list of the most recently submitted search strings.</p>
                      <code>https://imageabstract-jeremylshepherd.herokuapp.com/api/allterms</code>
                  </li>
                </ul>
            </blockquote>
        </div>
    </body>

</html>